:root {
    --main-color: #b5ccd8;
    --contrast-color: #3e3e3e;
    --accent-color: #d93fa5;
    --font-family: 'Arial Narrow';
}

body {
    font-family: var(--font-family);
    background-color: var(--contrast-color);
    color: var(--main-color);
    min-width: 320px;
    overflow: hidden;
}
