body {
    font-family: var(--font-family);
    background-color: var(--contrast-color);
    color: var(--main-color);
    min-width: 320px;
    overflow: hidden;
    background-blend-mode: color-burn;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
    outline: 0;
}
a,
a:visited {
    color: var(--main-color);
}

@media (hover: hover) {
    a:hover {
        color: var(--accent-color);
    }
}

* fieldset {
    border: none;
}

p {
    padding: 10px 20px;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
