.local {
    font-family: digital;
}

.local :global(.table) {
    margin: 2px;
    width: calc(100% - 4px);
    font-size: 13px;
    line-height: 15px;
}

.local :global(.table) thead {
    background-color: var(--main-color);
    color: var(--text-bg-color);
}

.local :global(.table) td {
    padding: 2px;
    cursor: default;
}

.local :global(.table) td:global(.today) {
    border-radius: 110px;
    background: var(--accent-color);
}

.local :global(.title) {
    width: calc(100% - 4px);
    font-size: 14px;
    line-height: 32px;
    padding: 0;
    margin: 2px;
    color: var(--text-bg-color);
    background-color: var(--contrast-color);
    border-radius: 4px;
    cursor: default;
}

.local :global(.title) :global(.prev-month) {
    font-size: 30px;
    float: left;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: block;
}

.local :global(.title) :global(.next-month) {
    font-size: 30px;
    float: right;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: block;
}

.local :global(.title) :global(.month) {
    font-size: 18px;
    color: var(--main-color);
}

