.local {
    transition: transform 200ms;
    margin: auto;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 10px;
    top: calc(var(--home-header-height) + 70px);
    right: auto;
    bottom: auto;
    resize: both;
    border: 1px inset var(--contrast-color);
    border-radius: 11px;
    max-width: initial;
    overflow: hidden;
    font-family: var(--font-family);
    color: white;
    height: 500px;
    width: 800px;
    min-width: 220px;
    min-height: 220px;
}

:global(.mobile) .local {
    top: 29px;
    width: 100%;
    max-width: 100%;
    height: calc(100% - var(--home-header-height) - var(--home-footer-height));
    left: 0;
    border-radius: 0;
    border: 0;
    resize: none;
}

.local :global(.bar) {
    position: relative;
    background: var(--contrast-color);
    height: 24px;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

:global(.mobile) .local :global(.bar) {
    display: none;
}

.local :global(.close) {
    font-size: 16px;
    position: relative;
    left: 6px;
    cursor: pointer;
    text-decoration: none;
    color: var(--main-color);
}

.local :global(.close:hover) {
    color: var(--accent-color);
}

.local :global(.drag-area) {
    margin: 4px;
    border: 1px dotted white;
    border-radius: 4px;
    padding: 5px;
    color: white;
}

.local :global(.title) {
    position: relative;
    padding-left: 10px;
    line-height: 24px;
    font-size: 15px;
    color: var(--text-bg-color);
}

.local :global(.update-area) {
    width: 20px;
    border: 1px dotted white;
    margin: 2px;
    display: inline-block;
    height: 16px;
    border-radius: 2px;
}

.local :global(.content) {
    height: calc(100% - var(--home-header-height) - 10px);
    background: var(--text-bg-color);
    color: var(--text-color);
    overflow-y: scroll;
    text-align: center;
}

:global(.mobile) .local :global(.content) {
    height: 100%;
}

.local :global(.footer) {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 15px;
    background: var(--contrast-color);
}

:global(.mobile) .local :global(.footer) {
    display: none;
}
