/***************************************************************** MENU  **/
.page-home > .menu {
    position: absolute;
    height: $homeFooterHeight;
    width: 100%;
    bottom: 0;
    background: black;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    z-index: 50;
    overflow: hidden;
}

.desktop .page-home > .menu {
    width: 320px;
    margin-left: 50%;
    left: -160px;
    border-radius: 11px 11px 0 0;
}

/***************************************************************** ICONS  **/
.page-home {
    .icons {
        position:relative;
        width: 100%;
        height: calc(100% - #{$homeHeaderHeight});
        top: $homeHeaderHeight;
        display: flex;
    }
}


/***************************************************************** STATUS BAR  **/
.page-home > .status-bar {
    width: 100%;
    position: fixed;
    top: 0;
    height: $homeHeaderHeight;
    background: #00000059;
    z-index: 50;
}

.page-home > .status-bar img {
    width: 17px;
    margin: 6px 6px;
    display: inline-block;
    vertical-align: middle;
}
