.i-icon {
    position: relative;
    margin: 1px;
    height: 58px;
    font-size: 33px;
    line-height: 45px;
    flex: auto;
    position: relative;
    max-width: 78px;
    color: var(--main-color);
}

.i-icon.accent {
    color: var(--accent-color);
}

.i-icon span {
    font-family: var(--font-family);
    font-size: 10px;
    display: block;
    position: absolute;
    bottom: -12px;
    width: 100%;
    color: white;
}

.i-icon em {
    display: none;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 20px;
    font-style: normal;
    font-weight: 800;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
}
