button.local {
    position: relative;
    width: auto;
    margin: 10px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    color: var(--text-color);
    background: #ffffff;
    font-family: var(--font-family);
    line-height: 24px;
    overflow: hidden;
}
button.local:hover {
    background: var(--accent-color);
    color: #ffffff;
}

button.local span.icon:before {
    padding-right: 10px;
}
