button.i-button {
    position: relative;
    width: auto;
    margin: 0 10px 0 10px;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    color: $textColor;
    background: #ffffff;
    font-family: $fontFamily;
    line-height: 24px;
    overflow: hidden;
}
button.i-button:hover {
    background: $accentColor;
    color: #ffffff;
}

button.i-button span.icon:before {
    padding-right: 10px;
}
