/***************************************************************** MENU  **/
.local > :global(.menu) {
    position: absolute;
    height: var(--home-footer-height);
    width: 100%;
    bottom: 0;
    background: black;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    z-index: 50;
    overflow: hidden;
}

:global(.desktop) .local > :global(.menu) {
    width: 320px;
    margin-left: 50%;
    left: -160px;
    border-radius: 11px 11px 0 0;
}

:global(.icons) {
    font-size: 20px;
}

/***************************************************************** ICONS  **/
.local :global(.icons) {
    position: relative;
    width: 100%;
    height: calc(100% - var(--home-header-height));
    top: var(--home-header-height);
    display: flex;
}

/***************************************************************** ICONS  **/
.local :global(.frames) {
    z-index: 20;
}

/***************************************************************** STATUS BAR  **/
.local > :global(.status-bar) {
    width: 100%;
    position: fixed;
    top: 0;
    height: var(--home-header-height);
    background: #00000059;
    z-index: 50;
}

.local :global(.logo) {
    width: 17px;
    height: 17px;
    margin: 6px 6px;
    display: inline-block;
    vertical-align: middle;
}

.local :global(.lang.en) {
    background-position: -5px -8px;
    display: block;
}
.local :global(.lang.es) {
    background-position: -81px -44px;
    display: block;
}
.local :global(.lang.it) {
    background-position: -81px -79px;
    display: block;
}

.local :global(.lang) {
    display: none;
    background-size: 114px;
    width: 28px;
    height: 20px;
    vertical-align: middle;
    border: none;
}

:global(.mobile) .local :global(.datetime) {
    display: none;
}

.local :global(.datetime) {
    margin: 0 15px;
}

.local :global(.right) {
    text-decoration: none;
    float: right;
    display: inline-block;
    padding: 4px;
    line-height: 19px;
}

.local hr:global(.i-divider) {
    border: 4px solid var(--soft-gray-color);
    margin: 0;
}

.local hr:global(.i-divider-thin) {
    margin: 0 28px 0 62px;
    border: none;
    border-top: 1px solid var(--soft-gray-color);
}
