/***************************************************************** MENU  **/
.local > :global(.menu) {
    position: absolute;
    height: var(--home-footer-height);
    width: 100%;
    bottom: 0;
    background: black;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    z-index: 50;
    overflow: hidden;
}

:global(.desktop) .local > :global(.menu) {
    width: 320px;
    margin-left: 50%;
    left: -160px;
    border-radius: 11px 11px 0 0;
}

/***************************************************************** ICONS  **/
.local :global(.icons) {
    position: relative;
    width: 100%;
    height: calc(100% - var(--home-header-height));
    top: var(--home-header-height);
    display: flex;
}

/***************************************************************** ICONS  **/
.local :global(.frames) {
    z-index: 20;
}

/***************************************************************** STATUS BAR  **/
.local > :global(.status-bar) {
    width: 100%;
    position: fixed;
    top: 0;
    height: var(--home-header-height);
    background: #00000059;
    z-index: 50;
}

.local > :global(.status-bar) img {
    width: 17px;
    margin: 6px 6px;
    display: inline-block;
    vertical-align: middle;
}
