.i-wizard {
}

.i-wizard h3 {
    margin: 0 0 5px 0;
    text-align: center;
    height: $homeHeaderHeight;
}

.i-wizard form {
    width: 100%;
}

.i-wizard .i-button {
    vertical-align: top;
}

.i-wizard .button:before {
    margin-right: 5px;
}

.i-wizard .button span {
    display: inline-block;
    padding: 0 5px;
}

.i-wizard h4 {
    margin: 10px;
    text-align: center;
}
