.local {
    margin: 20px 0;
}

.local fieldset {
    border: none;
}

/******************************************************** STEPS */
.local :global(.legend) span {
    display: inline-block;
    background-color: var(--text-color);
    color: var(--text-bg-color);
    width: auto;
    height: 25px;
    line-height: 24px;
    border-radius: 15px;
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
    padding: 0 15px;
    font-size: 12px;
}

.local :global(.pages) :global(.content-step) {
}
.local :global(.pages) :global(.content-step).active {
}

.local :global(.legend) span.done {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}

.local :global(.legend) span.done:hover {
    background-color: var(--accent-color);
}

.local :global(.legend) span.active {
    opacity: 1;
    background-color: var(--main-color);
}

.local :global(.legend) hr {
    display: inline-block;
    width: 80px;
    margin: 5px;
    vertical-align: middle;
}
/******************************************************** TITLE */
.local h3 {
    color: var(--text-color);
}

/******************************************************** PAGES */
.local :global(.pages) {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
}
.local :global(.pages) fieldset {
    position: relative;
    width: calc(100% - 28px);
    transition: left 0.2s linear;
    left: 0;
    margin: 0;
    padding: 0;
    display: none;
}
