.local {
    margin: 20px 0;
}

.local fieldset {
    border: none;
}

/******************************************************** STEPS */
.local :global(.legend) span {
    display: inline-block;
    background-color: var(--text-color);
    color: var(--text-bg-color);
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    font-size: 18px;
    opacity: 0.3;
}

.local :global(.pages) :global(.content-step) {
    display: none;
}
.local :global(.pages) :global(.content-step).active {
    display: block;
}

.local :global(.legend) span.done {
    opacity: 1;
}

.local :global(.legend) span.active {
    opacity: 1;
    background-color: var(--main-color);
}

.local :global(.legend) hr {
    display: inline-block;
    width: 80px;
    margin: 5px;
    vertical-align: middle;
}
/******************************************************** TITLE */
.local h3 {
    color: var(--text-color);
}
