.local {
    margin: 10px;
    width: 300px;
    text-align: left;
    display: inline-block;
    position: relative;
}

.local em {
    color: var(--main-color);
}

.local :global(.label) {
    display: inline-block;
    width: calc(100% - 76px);
    text-align: justify;
    font-size: 14px;
}

.local :global(.wrapper) {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    overflow: hidden;
    vertical-align: top;
    margin-right: 10px;
    float: left;
}

.local input {
    opacity: 0;
    width: 0;
    height: 0;
}

.local span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid transparent;
    border-radius: 34px;
}

.local span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: var(--text-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.local input:checked + span {
    background-color: var(--green-color);
}

.local input:focus + span {
    border: 1px solid var(--accent-color);
}

.local input:checked + span:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.local span:active {
}
