/***************************************************************** MENU  **/
.page-home .menu {
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    background: black;
    text-align: center;
    display: flex;
}
.page-home .menu .i-icon {
}

/***************************************************************** STATUS BAR  **/
.page-home .status-bar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 42px;
    background: #00000059;
}
