/***************************************************************** MENU  **/
.page-home > .menu {
    position: absolute;
    height: var(--footer-height);
    width: 100%;
    bottom: 0;
    background: black;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.desktop .page-home > .menu {
    width: 320px;
    margin-left: 50%;
    left: -160px;
    border-radius: 15px 15px 0 0;
}

/***************************************************************** STATUS BAR  **/
.page-home > .status-bar {
    width: 100%;
    position: fixed;
    top: 0;
    height: var(--header-height);
    background: #00000059;
}

.page-home > .status-bar img {
    width: 17px;
    margin: 6px 6px;
    display: inline-block;
    vertical-align: middle;
}
