.i-window {
    transition: transform 200ms;
    margin: auto;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.4);
    z-index: 20;
    position: absolute;
    left: 10px;
    top: calc(#{$homeHeaderHeight} + 70px);
    right: auto;
    bottom: auto;
    resize: both;
    border: 1px inset $contrastDecorationColor;
    border-radius: 11px;
    max-width: initial;
    overflow: hidden;
    font-family: $fontFamily;
    color: white;
    height: 500px;
    width: 800px;
}

.mobile .i-window {
    top: 29px;
    width: 100%;
    height: calc(100% - #{$homeHeaderHeight} - #{$homeFooterHeight});
    left: 0;
    border-radius: 0;
    border: 0;
    resize: none;
}

.i-window .bar {
    position: relative;
    background: $mainColor;
    height: 24px;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

.mobile .i-window .bar {
    display: none;
}

.i-window .close, .i-window .expand {
    font-size: 16px;
    position: relative;
    left: 6px;
    cursor: pointer;
    text-decoration: none;
    color: $accentColor;
}

.i-window .close:hover, .i-window .expand:hover {
    color: #ff4236;
}

.i-window .drag-area {
    margin: 4px;
    border: 1px dotted white;
    border-radius: 4px;
    padding: 5px;
    color: white;
}

.i-window .title {
    position: relative;
    padding-left: 10px;
    line-height: 24px;
    font-size: 15px;
    color: $contrastColor;
}

.i-window .update-area {
    width: 20px;
    border: 1px dotted white;
    margin: 2px;
    display: inline-block;
    height: 16px;
    border-radius: 2px;
}

.i-window .content {
    height: calc(100% - #{$homeHeaderHeight} - 10px);
    background: $transparentColor;
    overflow-y: scroll;
}

.mobile .i-window .content {
    height: 100%;
}

.i-window .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 15px;
    background: $contrastDecorationColor;
}

.mobile .i-window .footer {
    display: none;
}
