.i-dialog {
    top: $homeHeaderHeight;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    display: none;
    opacity: 0;
    transition: 0.2s opacity linear;
}

.i-dialog .content {
    width: 90%;
    min-width: 280px;
    max-width: 600px;
    padding: 10px;
    background-color: $textBgColor;
    border: 1px solid $contrastColor;
    color: $textColor;
    margin: 0 auto;
    position: relative;
    border-radius: 8px;
    top: 50%;
    text-align: center;
}


