.i-notification {
    width: 100%;
    position: fixed;
    top: -42px;
    height: 42px;
    z-index: 98;
    transition: top 0.2s linear;
}

.i-notification.show {
    top: 0;
}

.i-notification div {
    position: relative;
    width: calc(100% - 6px);
    max-width: 600px;
    height: calc(100% - 6px);
    top: 3px;
    margin: 0 auto;
    border-radius: 10px;
    color: black;
    overflow: hidden;
}

.i-notification div em {
    line-height: 19px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font-style: normal;
    width: calc(100% - 50px);
}
.i-notification div span {
    font-size: 28px;
    margin: 4px;
    display: inline-block;
    border-right: 1px solid black;
    line-height: 27px;
    padding: 0 4px;
    width: 27px;
    height: 27px;
}

.i-notification.info div {
    background-color: #c9c9c9
}

.i-notification.warn div {
    background-color: #d4d498
}

.i-notification.success div {
    background-color: #a1dea7
}

.i-notification.error div {
    background-color: #dea1a1
}
